{% extends "base/_application_navigation.html" %}

{% block content %}
    <!-- ====== Header ======  -->
    <header id="home" class="sub-header demo-1" data-stellar-background-ratio="0.5">
        <div class="header-overlay">
            <!-- header content -->
            <div class="caption v-middle text-center">
                <h1>Contact Me</h1>
                <span>Resume / Contact</span>
            </div>
        </div>
    </header>
    <!-- ====== End Header ======  -->

    <!--====== Contact ======-->
    <section id="contact" class="contact pb-100">
        <!-- contact icfo -->
        <div class="cont-info muilte">
            <div class="container">

                <!-- section header -->
                <div class="section-head text-center">
                    <h5 class="tit">Get In Touch</h5>
                </div>

                <div class="row">

                    <!-- info items -->
                    <div class="col-md-4">
                        <div class="info-item">
                            <div class="icon">
                                <span class="icon-map-pin"></span>
                            </div>
                            <div class="info-content">
                                <h6>Address</h6>
                                <h5>Cape Town South Africa</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="info-item">
                            <div class="icon">
                                <span class="icon-phone"></span>
                            </div>
                            <div class="info-content">
                                <h6>Phone</h6>
                                <h5>+27712345678</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="info-item">
                            <div class="icon">
                                <span class="icon-envelope"></span>
                            </div>
                            <div class="info-content">
                                <h6>E-mail</h6>
                                <h5>mugadzat8@gmail.com</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- form -->
        <div class="main-form">
            <div class="container">
                <div class="row">
                    <!-- contact form -->
                    <div class="col-md-offset-2 col-md-8">
                            <form class="form" id="contact-form" method="post" action="contact.php" role="form">
                            <div class="messages"></div>

                            <div class="controls">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_name" type="text" name="name" placeholder="Name *" required="required" data-error="Firstname is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                        <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_email" type="email" name="email" placeholder="Email *" required="required" data-error="Valid email is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input id="form_subject" type="subject" name="subject" placeholder="Subject">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea id="form_message" name="message" placeholder="Message *" rows="4" required="required" data-error="Message."></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="submit" class="button" value="Send message">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>				
    </section>
    <!--====== End Contact ======-->

{% endblock content %}