{% extends "base/_application_navigation.html" %}
{% load static %}

{% block content %}
    <!-- ====== Header ======  -->
    <header id="home" class="header demo-2" data-stellar-background-ratio="0.5">
            <!-- header content -->
            <div class="caption v-middle text-center">
                <h6>Hi! My name is Tatenda Mugadza</h6>
                <h1 class="typed">I am a<span></span></h1>
                <button class="button btn-bord-light">Resume</button>
                <button class="button btn-bord-light">Contact</button>
            </div>
            <div class="button-scroll" data-scrollTo="about"><span></span></div>
    </header>
    <!-- ====== End Header ======  -->
{% endblock content %}
