{% extends "base/_application_navigation.html" %}

{% block content %}
    <!-- ====== Header ======  -->
    <header id="home" class="sub-header demo-1" data-stellar-background-ratio="0.5">
        <div class="header-overlay">
            <!-- header content -->
            <div class="caption v-middle text-center">
                <h1>My Projects</h1>
                <span>Resume / Projects</span>
            </div>
        </div>
    </header>
    <!-- ====== End Header ======  -->
{% endblock content %}